.cart a.hide {
	display: none;
}

nav .view-cart-link span {
	border:1px solid #eee;
	padding:2px 7px;
	border-radius: 8px;
}

.cart-content .remove {
	display: block;
	text-decoration: underline;
}

.cart-content .remove:hover {
	text-decoration: none;
}

.cart-content .empty {
	display: block;
	margin-top:30px;
}

.cart-content li.item {
	margin-top:40px;
}

.cart-content form.note {
	margin:10px 0;
}

.cart-content input  {
	display:block;
}